<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
 rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
 crossorigin="anonymous"></link>
	<title>Producto</title>
<body>
	<div class="form-horizontal justify-content-center d-flex p-5 mt-4">
		<div class="col-sm-5 col">
			<form th:action="@{/save/pqrs}" th:object="${pqrs}" method="POST">
				<div>
					<div class="card-header"></div>
					<h3>Editar Pqrs</h3>
					<div class="card-body">
						<div class="form-group">
							<label>Tipo</label>
							<select th:field="*{tipo}" type="text" class="form-control">
								<option value="Queja">QUEJA</option>
  								<option value="Reclamo">RECLAMO</option>
  								<option value="Sugerencia">SUGERENCIA</option>
							</select>
						</div>
						</div>
						<div class="form-group">
							<label>Descripcion</label>
							<input th:field="*{descripcion}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Fecha</label>
							<input th:field="*{fecha}" type="date" class="form-control"/>
						</div>					
					</div>
						<div class="mt-4 container">
							<div class="row">
							<div class="justify-content-between">
								<div class="col mt-2">
									<input type="submit" value="Guardar " class="btn btn-primary">
								
								</div>
							<div class="col mt-2">
								<a th:href="@{/listar/pqrs}" class="btn btn-secondary">Cancelar</a>
							</div>	
							
							
					
						</div>
						
						</div>
					</div>
					
				</div>
			</form>
		
		
		</div>

	</div>


</body>

</head>
</html>	